/*comment*/

.main {
  display: flex;
  flex-direction: row;
  overflow: unset;
       }

/*comment*/
    
footer {
  padding: 1rem;
  
  background-image: url(../images/plain_blue_background.jpg);
  
  text-align: center;
  color: white;
  
        }

/*comment*/

#heading {
  
  background-image: url(../images/plain_blue_background.jpg);
  padding: 1rem;
  color: white;
          }

/*comment*/

#profilephoto {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid #D1603D;
               }

/*comment*/



/*comment*/

.icons {
  width: 3rem;
  margin: 2rem;
  height: auto;
  padding-top: 0.5rem;
  animation-name: animationicons;
  animation-duration: 4s;
  animation-iteration-count: infinite;
        }


